{% extends 'base.html' %}{% block body %}

<h2>Welcome to VTM!</h2>>
<hr/>
    <img src="../static/css/images/above_ground_vertical_tanks.jpg" alt="Vertical Tanks" width="400" height="200">

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Viverra tellus in hac habitasse platea. A arcu cursus vitae congue. Adipiscing elit duis tristique sollicitudin. Libero volutpat sed cras ornare arcu dui vivamus arcu felis. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus mauris. Nascetur ridiculus mus mauris vitae ultricies leo. Donec pretium vulputate sapien nec. 
    </p>

{% endblock %}